<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid my-1 justify-content-between">
      <a class=" d-flex navbar-brand align-items-center" href="/">
          <!-- First SVG Logo -->
          <img src="/icon/logo.svg" class="align-self-center" alt="Your Logo" width="45" height="45" class="ml-4">
          <h1 class="mx-3 align-self-center">Cinelog</h1>
      </a>
    
      <button class="navbar-toggler align-item-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="/icon/burger.svg" alt="Burger" width="20" height="20"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          
          <!-- Search bar in the middle -->
          <form class="d-flex justify-content-center" action="/film/cari" method="get">
            <input class="form-control me-2" type="text" name="search" placeholder="Judul Film" aria-label="Search">
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
          
          <div class="navbar-nav ms-auto">
            <a class="nav-link" href="/katalog">Katalog</a>
            <% if(!currentUser) {%>
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <% } else { %>
              <a class="nav-link" id="logout" href="/logout">Logout</a>
            <% } %>
          </div>
      </div>
  </div>
</nav>
