body {
    font-family: 'Glory', sans-serif;
    background-color: #E8E8E8;
}

.btn-primary{
    background-color: #30475E;
    color: #E8E8E8;
    border: 0.1em solid transparent;
}

.btn-primary:hover{
    background-color: #D9D9D9;
    color: #30475E;
    border: 0.1em solid;
    border-color: #30475E;
}

.btn-danger{
    border: 0.1em solid transparent;
}

.btn-danger:hover{
    background-color: #D9D9D9;
    color: #c82333;
    border: 0.1em solid;
    border-color: #c82333;
}

a {
    color: #30475E;
}

.form-control {
    width: 100%;
    background-color: #D9D9D9;
}

.row .poster{
    width: fit-content;
    margin: 3px;
}

.card a {
    color: black;
    text-decoration: none;
}

.card a :hover {
    color: black;
    text-decoration:underline;
}

.wrapper{
    margin-bottom: 30px;
}

p .rating{
    object-fit: cover;
    width: 16px;
    height: 16px;
    margin-bottom: 6px;
}