<% layout('layout/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/katalog.css">

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center" id="header">
        <h2>Tambahkan Katalog Baru</h2>
        <div>
            <a href="/katalog/" class="btn btn-primary">Simpan</a>
            <a href="/katalog/" class="btn btn-danger ml-auto">Cancel</a>
        </div>
    </div>
    
</div>