<% layout('layout/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/katalog.css">

    <div class="container-fluid">
        <div class="d-flex justify-content-between align-items-center" id="header">
            <h2>Tambahkan Katalog Baru</h2>
            <div>
                <a href="/katalog/" class="btn btn-danger ml-auto">Cancel</a>
            </div>
        </div>
        <div class="col-md-9 my-3">
            <form action="/katalog" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="judul">Judul</label>
                    <input class="form-control" type="text" id="judul" name="katalog[judul]" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="deskripsi">Deskripsi</label>
                    <textarea class="form-control" type="text" id="deskripsi" name="katalog[deskripsi]" required
                        style="height: 200px;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="film">Tambah Film</label>
                    <div class="row d-flex" style="display: inline;" id="tempAdded">
                        <div class="poster card" style="width: 10rem;" data-toggle="modal" data-target="#searchModal">
                            <img src="/icon/tile.svg" class="card-img-top" alt="..." id="posterImage">
                            <div class="card-body">
                                <h5 class="card-title">Cari Film</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="selectedResults" id="selectedResultsField" value="">
                <div class="mb-3">
                    <button class="btn btn-success" id="submitButton">Simpan Katalog</button>
                </div>
            </form>
        </div>
    </div>

    <!-- The Modal -->
    <div id="myModal" class="modal">

        <div class="modal-content">
            <div class="d-flex justify-content-between align-items-center" id="header">
                <h2>Tambahkan Film ke Katalog</h2>
                <span class="close">&times;</span>
            </div>
            <form action="" id="searchForm">
                <input class="form-control my-3 mx-auto" type="text" name="query" id="searchFilmModal"
                    placeholder="Cari Film">
            </form>
            <div class="my-1 mx-3" id="searchResults" style="max-height: 75%; overflow-y: auto;">
            </div>
            <button class="btn btn-primary my-4 me-5" style="display: none; position: absolute; bottom: 0; right: 0;"
                id="addButtonModal">Tambah</button>
        </div>
    </div>

    <script src="/javascripts/newKatalog.js"></script>